
.responsive-menu {
  display: none;
}

.old-navbar {
  display: none;
}





@media (max-width: 768px) {
  .responsive-menu {
    background-color: rgb(173, 216, 230);
    display: flex;
    align-items: center;
  }

  .old-navbar {
    display: none;
  }
}

@media (min-width: 769px) {
  .responsive-menu {
    display: none;
  }

  .old-navbar {
    background-color: rgb(173, 216, 230);
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
}

.welcome{
    text-align: center;
}

#homelogged {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 10px;
}

#homecalendar {
  flex: 1; 
  min-width: 300px;
  max-width: 50%;
  margin-bottom: 50px;
}





.custom-container {
    
    border: 3px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    flex: 1; 
  }

#next{
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: blue;
  font-size: 20px;
}


.events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .event {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  .event.arrival {
    background-color: #b4e0b4;
    color: rgb(7, 7, 74);
  }
  
  .event.departure {
    background-color: #73baec;
    color: rgb(3, 62, 81);
  }


