.navbar{
    background-color: rgb(173, 216, 230);
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.welcome{
    text-align: center;
}
.custom-container {
    max-width: 500px;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
  }

#next{
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: blue;
  font-size: 20px;
}


.events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .event {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  .event.arrival {
    background-color: #b4e0b4;
    color: rgb(7, 7, 74);
  }
  
  .event.departure {
    background-color: #73baec;
    color: rgb(3, 62, 81);
  }